body {
    background-color: black;
}
#title{
    text-align:center;
    color:white;
    font-size:xx-large;
    font-weight:bold;
}
#statement{
    text-align:center;
    color:white;
    font-size:x-large;
    font-weight:600;
}
#magica{
    display:block;
    margin:auto;
    position:center;
}
#option{
    color:white;
    font-size:larger;
    text-align:center;
    margin-top:-300px;
    margin-bottom:300px;
}
button{
    border-radius:50%;
    background-color:blue;
    color:white;
    font-size:24px;
    padding:14px;
    display:block;
    margin:auto;
    
}